/* +===============================================+ */

/* Main color code: #ff6374 */

/* +===============================================+ */
body {
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 40px;
}
.name_span {
    color:#ff6347;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 0 2%;
}

.half-width img{
    width: 100%;
}